
[data-md-color-scheme="default"] {
    --md-primary-fg-color: #008DB9; /* header color */
    --md-primary-bg-color: #FFF; /* header text color */

    --md-typeset-a-color: #002F40; /* links color */
    --md-accent-fg-color: #008DB9; /* links hover color */

}

[data-md-color-scheme="slate"] {
    --md-primary-fg-color: #008DB9; /* header color */
    --md-primary-bg-color: #FFF; /* header text color */

    --md-typeset-a-color: #7ec4ef; /* links color */
    --md-accent-fg-color: #008DB9; /* links hover color */

    --md-default-bg-color: #002F40; /* background color */
    --md-default-fg-color: #d0d0d0; /* text color */
    --md-default-fg-color--light: #FFFFFF; /* text head color */

}